{% extends "layout.html" %}
{% block title %} Beauty World Inventory Manager {% endblock title %}

{% block content %}
    <h1>Welcome to Beauty World Inventory Manager</h1>
    <table class="sales">
        <tr>
            <th>Item Desc</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Customer</th>
            <th>Date</th>
        </tr>
        {% for entry in data %}
            <tr>
                {% for key in data[entry].keys() %}
                    {% if key == "Bar Code" %}
                        <td>{{ data[entry][key] }}</td>
                    {% else %}
                        <td>{{data[entry][key]}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}