{% extends 'layout.html' %}
{% block title %} {{data['name']}} {% endblock title %}

{% block content %}
    <form id="item-edit-form" name="item-edit" action="/edit" method="post">
        <label for="name">
            Name:
            <input type="text" name="name" value={{ data['name'] }} />
        </label>
        <label for="category">
            Category:
            <input type="text" name="category" value={{ data['category'] }} />
        </label>
        <label for="made_in">
            Made in:
            <input type="text" name="made_in" value={{ data['made in'] }} />
        </label>
        <label for="size">
            Size:
            <input type="text" name="size" value={{ data['size'] }} />
        </label>
        <label for="price">
            Unit Price:
            <input type="text" name="price" value={{ data['price'] }} />
        </label>
        <label for="profit">
            Profit margin:
            <input type="text" name="profit" value={{ data['profit'] }} />
        </label>
        <input type="submit" value="Save">
    </form>

{% endblock content %}