{% extends "layout.html" %}
{% block title %} Beauty World Inventory Manager {% endblock title %}

{% block content %}
{#    <a id="add-item" href="/add/"><button id="add-item">Add</button></a>#}
    <input id="add-item" type="button" onclick="window.location.href='/add'" value="Add" >
    <table class="container inventory">
        <thead>
            <tr>
                <th>Item</th>
                <th>Category</th>
                <th>Made</th>
                <th>Size/ml-g-oz</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th>BarCode</th>
                <th>Unit Price</th>
                <th>Profit</th>
                <th>Price + profit</th>
                <th>On hand</th>
{#                <th>Sold Qty</th>#}
{#                <th>Total Sales</th>#}
            </tr>
        </thead>
        {% for entry in data %}
            <tr>
                {% for key in keys %}
                    {% if key in data[entry].keys() %}
                        <td>{{ data[entry][key] }}</td>
                    {% endif %}
                {% endfor %}
                <td id='edit'><a href="/edit/{{data[entry]['Item Desc']}}">Edit</a></td>
                <td id='delete'><a href="/delete/{{data[entry]['Item Desc']}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}