{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <form id="item-sale-form" method=post>
        <dl>
            {{ render_field(form.name) }}
            {{ render_field(form.quantity) }}
            {{ render_field(form.customer) }}
        </dl>
        <p><input type=submit value=Sale id="sale-button"></p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p id="warning">{{ messages[0] }}</p>
        {% endif %}
        {% endwith %}
    </form>

    <!-- Overlay card -->
    <div class="overlay-card" id="overlay-card">
      <div class="overlay-content">
        <div class="overlay-item">
          <span class="overlay-label">Product:</span>
          <span id="name-display"></span>
        </div>
        <div class="overlay-item">
          <span class="overlay-label">Quantity:</span>
          <span id="quantity-display"></span>
        </div>
        <div class="overlay-item">
          <span class="overlay-label">Customer:</span>
          <span id="customer-display"></span>
        </div>
        <div class="overlay-item">
          <button class="overlay-button" id="confirm-button">Confirm</button>
          <button class="overlay-button" id="cancel-button">Cancel</button>
        </div>
      </div>
    </div>
{% endblock content %}