{% extends 'layout.html' %}
{% block title %} Sign Up {% endblock title %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p id="access-warning">{{ messages[0] }}</p>
        {% endif %}
    {% endwith %}
    <form class="container" id="login-page" name="item-edit" action="/signup" method="post">
        <label for="username">
            UserName:
        </label>
            <input type="text" name="username" placeholder="username" />
        <label for="password">
            Password:
        </label>
            <input type="text" name="password" placeholder="Password" />
        <input type="submit" value="SignUp">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p id="warning">{{ messages[0] }}</p>
        {% endif %}
        {% endwith %}
    </form>

{% endblock content %}