{% extends "layout.html" %}
{% block title %} Beauty World Inventory Manager {% endblock title %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p id="access-warning">{{ messages[0] }}</p>
        {% endif %}
    {% endwith %}
    <input class="container" id="add-item" type="button" onclick="window.location.href='/add_supplier'" value="Add" >
    <table class="container">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in suppliers %}
            <tr>
                {% for key in entry %}
                    <td>{{ key }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tbody>
    </table>
{% endblock %}